.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: #07cc84;
    border-color: #07cc84;
  }
}

.userHeader {
  color: #fff;
  margin-bottom: 2rem;
  & h1 {
    margin-top: 1.34rem;
    margin-bottom: 1.34rem;  
  }
}