.transaction {
  border: solid 2px #bfc8d3;
  background-color: white;
  margin-top: -2px;
  &__icon {
    position: absolute;
  }
  &__resume {
    cursor: pointer;
    padding: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    & p:nth-child(2) {
      text-align: left;
      padding-left: 4rem;
    }
  }
  &__infos {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 1rem 5rem;
    gap: 1rem;
    text-align: left;
    & li {
      list-style-type: none;
    }
    & span {
      margin-left: 0.5rem;
    }
  }
}

.edit-notes {
  display: flex;
  flex-direction: column;
  & textarea {
    margin-top: 1rem;
    outline: none;
    font-size: 1rem;
    border: 2px solid #bfc8d3;
    border-radius: 5px 5px 5px 0;
  }
  & button {
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #bfc8d3;
    border: none;
    padding: 0.8rem;
    border-radius: 0 0 5px 5px;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

select {
  margin-left: 0.5rem;
  border: 2px solid #bfc8d3;
  font-size: 1rem;
}

.transaction[open] .transaction__icon {
  transform: rotate(180deg);
}

.editIcon {
  height: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}